/* Direct Changes in Bootstrap CSS */
.row{
    margin-left:0px!important;
    margin-right: 0px!important;
   
}

/* Custom Css */
body{
    background-color: #141526;
}
.flex-c{
    display: flex;
    flex-direction: column;
}
#todo{
    height: auto;
    min-height: 200px;
    width:50vw;
    background-color: #232F4E;
    margin: auto;
    border-radius: 24px;
}

h1{
    color: #13bdad;
    margin-bottom: 2px;
    text-align: center;
    padding-top: 5px;
}

/* Css for form elements */
form .row{
    padding-top: 4px;
    padding-bottom: 10px;
}
form label{
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
    color:#939393;
}
form input[type="text"]{
    background-color: transparent;
    border: none;
    font-size: 1.7rem;
    color: #dadada;
}
form input[type="text"]:focus{
    outline:none;
    border: none;
}

hr{
    margin:0px;
}
::placeholder { 
    color: #c9bdbd;
    opacity: 1; 
  }
  
  :-ms-input-placeholder { 
    color: #c9bdbd;
  }
  
  ::-ms-input-placeholder { 
    color: #c9bdbd;
  }
  
#dueDate, #category{
    height:2.7rem;
}
  
.display-task{
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column ;
}
.display-task div{
    font-size: 16px;
    margin-bottom: 10px;
}
.align-components-task{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Buttons css add delete*/
#buttons{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#buttons button{
    padding-top: 8px;
    padding-bottom: 8px;
    width: 130px;
    color:white;
}
#buttons button i{
    margin-right: 6px;
    color:white;
}
#add-btn{
    background-color: black;
}
#add-btn:hover{
    background-color: #17191b;
}
#del-btn{
    background-color: red;
}
#del-btn:hover{
    background-color: #a70000;
}

.task-description-display{
    color:#dadada; 
    margin-bottom: 0px;
    font-size:1.65rem;
}

/* Category Buttons */
.school{
    background-color: purple;
}
.personal{
    background-color: #5e8d15;
}
.work{
    background-color: #bc1f6b;
}
.other{
    background-color: #d7961e;
}
.cleaning{
    background-color: #a94442;
}
.btn-category-display{
    color:white;
    width: 7.5rem;
}

#select-all-div{
    text-align: end;
    padding-right: 4%;
}

#select-all-div button{
    border-radius: 18px;
    border: none;
    padding: 5px 10px;
    background-color: #36c4c4;
    outline: none;
}

#count-span{
    float: left;
    margin-left: 18px;
    color: white;
    font-size: 15px;
    margin-top: 4px;
}

i.fa-trash{
    color:red;
    margin-left: 5px;;
}